#map {height: 500px;}
.tms_store{}
.tms_store_body {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #dcd7d7;
}
.tms_store_col {
    width: 100%;
    margin-bottom: 10px;
}

.tms_store_title{
    text-transform: uppercase;
    border-bottom: 2px solid #3ab54a;
    padding: 8px 8px 5px 8px;
    color: #3ab54a;
    font-size: 16px;
    font-weight: 500;
    background: #ececec;
}
.tms_store_title h3{
    font-size: 16px;
    font-weight: 700;
}
.tms_store_title h3 a{
   
    color: #3ab54a;
    font-size: 16px;
    font-weight: 600;

}
.tms_store_city {
    color: #fff;
    /* font-weight: bold; */
    padding: 5px;
    font-size: 12px;
    background: #3ab54a;
}
.tms_store_img {max-height:250px;width:100%;overflow:hidden;position:relative;text-align:center;}
.tms_store_img  img {width:100%; height:auto;-webkit-transition-duration: 1.0s;-moz-transition-duration: 1.0s;-o-transition-duration: 1.0s}
.tms_store_img:hover img {-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);}

.tms_store_line {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  margin-bottom:20px;
}
.tms_store_line:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #3ab54a;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.tms_store_line:hover:before, .tms_store_line:focus:before, .tms_store_line:active:before {
  right: 0;
}
.tms_store_deatail_titlle {
    display: inline-block;
    width: 100%;
    color: #3ab54a;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
	padding-bottom:10px

}
.tms_store_deatail_titlle:before {
    top: 40px;
    background-color: #e1e1e1;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 0;
}
.tms_store_deatail_titlle h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 35px;
    position: relative;
    display: inline-block;
    color: #3ab54a;
    text-transform: uppercase;
}
.tms_store_deatail_titlle h3:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: #3ab54a;
    height: 2px;
}

.item_cuahang .image_cuahang img {
    width: 100%;
}
.title_loai_cuahang {
    text-transform: uppercase;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
.content_cuahang .loai_cuahang {
    margin-bottom: 20px;
}
.content_cuahang .title_cuahang {
    margin-top: 5px;
}
.content_cuahang .title_cuahang a{
    font-weight: 700;
    margin-top: 5px;
    font-size: 17px;
    color: #65b82e;
}
.content_cuahang .image_cuahang {
    height: 180px;
    overflow: hidden;
}
.tt_image_detail img {
    width: 100%;
    padding-right: 20px;
}
.content_detail_cuahang .title_cuahang a{
    font-weight: 700;
    font-size: 17px;
    color: #65b82e;
}
.content_detail_cuahang .thuonghieu_cuahang a {
    font-weight: 700;
    font-size: 16px;
    color: black;
}
.content_detail_cuahang .sdt_cuahang a {
    color: red;
    font-weight: 700;
    font-size: 17px;
}
ul.nav.nav-tabs1 {
    margin-bottom: 10px;
}
ul.nav.nav-tabs1 li {
    display: inline-block;
    border-right: 1px solid white;
    
}
ul.nav.nav-tabs1 li a {
    color: white;
    text-transform: uppercase;
	font-weight:700
}
ul.nav.nav-tabs1 {
    background: #65b82e;
    display: flex;
}
ul.nav.nav-tabs1 > li > a:hover, .ul.nav.nav-tabs1 > li > a:focus , .nav-tabs1 .active a{
    text-decoration: none;
    background-color: red !Important;
}
ul.nav.nav-tabs1 {
    background: #65b82e;
}
.thongtin_chitiet_cuahang_map {
    margin-top: 20px;
}
.danhsach_cuahang .item_cuahang {
    height: 290px;
    overflow: hidden;
}
div#map_bando {
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 9999999;
}
.content_maps #map{
width:100%;
height:700px;


}
#map_block
{
width:100%;
position: relative;
    width: 100%;
    height: 700px;
    z-index: 9999999;
}
.content_map_main {
    width: 120px;
}
.tiede_map_main {
    font-weight: 700;
    margin-bottom: 10px;
}
.image_des_map img {
    width: 100%;
	margin-right:0px;
}
.title_tk_ch {
    text-transform: uppercase;
    font-weight: 700;
    color: red;
    margin-top: 20px;
    padding-left: 5px;
	margin-bottom:20px;
}
.content_tk_cuahang .form-group {
    display: flow-root;
}
.danhsach_cuahang_list ul {
    padding-left: 5px;
    height: 400px;
    overflow-y: scroll;
}
.danhsach_cuahang_list li i {
   padding-right:8px;
    color: #d10000;
	font-size:10px
}
.danhsach_cuahang_list li a {
    display: block;
    padding: 7px 5px;
	color:black
}
.danhsach_cuahang_list li a:hover {
    background: #d10000;
    color: white;
}

.danhsach_cuahang_list::-webkit-scrollbar {
    width: 12px;
}
 
.danhsach_cuahang_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px red; 
    border-radius: 10px;
}
 
.danhsach_cuahang_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px red; 
}